* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #161616;
    color: #fff;
    display: flex;
    height: 100vh;
    margin: 0;
}

#menu {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-top: 110px;
    width: 100%; /* Faz com que a div ocupe 100% da largura disponível */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block; /* Faz com que a lista se comporte como um bloco em linha */
}

.menu-item {
    margin: 10px;
    padding: 10px;
    background-color: #333;
    border-radius: 15px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
    display: block;
    width: 200px;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.menu-item a:hover {
    text-decoration: underline;
}

#logoutButton {
    margin-top: auto; /* Coloca o botão na parte inferior da barra lateral */
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}


nav {
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}


header {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}






